.gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-row: span 2;
    margin: 20px;
    padding: 10px;
    border: 10px, solid, black;
    border-radius: 5%;
    background-color: blue;
    place-items: center;
}

.main-display {
    display: grid;
    grid-column: 1 / -1;
    margin: 20px;
    padding: 10px;
    border: 10px, solid, black;
    border-radius: 5%;
    background-color: green;
    place-items: center;
}

body {
    background-color: aquamarine;
    cursor: pointer;

}

* {
    place-items: center;
    flex-wrap: wrap;
    
}

img {
    margin: 20px;
    padding: 10px;
    border: 10px, solid, black;
    border-radius: 7%;
    background-color: rgb(204, 11, 11);
    place-items: center;
    
}