.gallery_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 5%;
    background-color: blue;

}


.main_display {
    display: grid;
    grid-column: 1 / -1;
    margin: 20px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 5%;
    background-color: green;
    place-items: center;

}

body {
    background-color: aquamarine;
    
}

* {
    flex-wrap: wrap;
    
}

img {
    margin: 20px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 7%;
    background-color: rgb(204, 11, 11);
    place-items: center;
    display: grid block;
    max-width: 100%;

}

.thumb {
    display: grid center block;
    cursor: pointer;
    max-width: 100%;
    
}


footer {
    cursor: pointer;
    
}