.gallery-pic{
    max-width: 300px;
    border-radius: 8%;
    margin: 2px;
    text-align: center;

}
/* this allows me to add styles to my images like borders with color and align them together*/
img{
    max-width: 300px;
    background-color: black;
    margin: 50px;
    border-radius: 8px;
    border: rgb(169, 240, 28);
    padding: 1%;
    text-align: center;

}
/* this allows me to change the bodys background and allows me to add modification's like changing colors for the background*/
body{
    background-color: blanchedalmond;
    margin: 2px;
    text-align: center;

}

footer{
    background-color: rgb(220, 214, 106);
    border-radius: 20px;
    text-align: center;
    padding: 1%;

}

a{
    background-color: rgb(220, 214, 106);
    margin: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 1%;

}