<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1> Jonathan Parra </h1>
    </header>
    <main>
    
        <div class="card">
        
            
            <h2>.P.</h2>
                <img src="selfphoto.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam, repellat vel quaerat omnis corporis. Quis repellendus commodi dicta error odio unde aliquam at amet repudiandae, beatae, officia sed corrupti!</p>
                
                    <h3>M.P.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia, error reprehenderit maxime corporis perferendis animi tenetur at quibusdam reiciendis, officiis dignissimos culpa, aspernatur autem nesciunt? Necessitatibus mollitia molestias reprehenderit?</p>
                    <span class="tooltip">CSS<span class="tooltiptext"> Cascading Style Sheets</span></span>
                    
            </div>
        </div>
         <div class="card">
        
            
            <h2>.P.</h2>
                <img src="selfphoto.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam, repellat vel quaerat omnis corporis. Quis repellendus commodi dicta error odio unde aliquam at amet repudiandae, beatae, officia sed corrupti!</p>
                
                    <h3>M.P.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia, error reprehenderit maxime corporis perferendis animi tenetur at quibusdam reiciendis, officiis dignissimos culpa, aspernatur autem nesciunt? Necessitatibus mollitia molestias reprehenderit?</p>
                    <span class="tooltip">CSS<span class="tooltiptext"> Cascading Style Sheets</span></span>
                    
            </div>
        </div>
         <div class="card">
        
            
            <h2>.P.</h2>
                <img src="selfphoto.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam, repellat vel quaerat omnis corporis. Quis repellendus commodi dicta error odio unde aliquam at amet repudiandae, beatae, officia sed corrupti!</p>
                
                    <h3>M.P.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia, error reprehenderit maxime corporis perferendis animi tenetur at quibusdam reiciendis, officiis dignissimos culpa, aspernatur autem nesciunt? Necessitatibus mollitia molestias reprehenderit?</p>
                    <span class="tooltip">CSS<span class="tooltiptext"> Cascading Style Sheets</span></span>
                    
            </div>
        </div>
         <div class="card">
        
            
            <h2>.P.</h2>
                <img src="selfphoto.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam, repellat vel quaerat omnis corporis. Quis repellendus commodi dicta error odio unde aliquam at amet repudiandae, beatae, officia sed corrupti!</p>
                
                    <h3>M.P.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia, error reprehenderit maxime corporis perferendis animi tenetur at quibusdam reiciendis, officiis dignissimos culpa, aspernatur autem nesciunt? Necessitatibus mollitia molestias reprehenderit?</p>
                    <span class="tooltip">CSS<span class="tooltiptext"> Cascading Style Sheets</span></span>
                    
            </div>
        </div>
         <div class="card">
        
            
            <h2>.P.</h2>
                <img src="selfphoto.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam, repellat vel quaerat omnis corporis. Quis repellendus commodi dicta error odio unde aliquam at amet repudiandae, beatae, officia sed corrupti!</p>
                
                    <h3>M.P.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia, error reprehenderit maxime corporis perferendis animi tenetur at quibusdam reiciendis, officiis dignissimos culpa, aspernatur autem nesciunt? Necessitatibus mollitia molestias reprehenderit?</p>
                    <span class="tooltip">CSS<span class="tooltiptext"> Cascading Style Sheets</span></span>
                    
            </div>
        </div>
         <div class="card">
        
            
            <h2>.P.</h2>
                <img src="selfphoto.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam, repellat vel quaerat omnis corporis. Quis repellendus commodi dicta error odio unde aliquam at amet repudiandae, beatae, officia sed corrupti!</p>
                
                    <h3>M.P.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia, error reprehenderit maxime corporis perferendis animi tenetur at quibusdam reiciendis, officiis dignissimos culpa, aspernatur autem nesciunt? Necessitatibus mollitia molestias reprehenderit?</p>
                    <span class="tooltip">CSS<span class="tooltiptext"> Cascading Style Sheets</span></span>
                    
            </div>
        
        <aside></aside>
    </main>
    <footer><a href=""></a></footer>
</body>
</html>