<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1> Jonathan Parra </h1>
    </header>
    <main>
    
        <div class="card">
        
            
            <h2>J.J.P.</h2>
                <img src="selfphoto.jpg" alt="">
                <p>Hello Im jonathan the creator of this page and I enjoy Video Games, Board Games, and Card Games. I like to Learn new things like coding because I think its crazy and cool how it works. At some point I hope to Own a business and become successful in coding too </p>
                    <span class="tooltip">CSS<span class="tooltiptext"> Cascading Style Sheets</span></span>
                    
            </div>
        </div>

         <div class="card">
        
            <h2>J.V.P.</h2>
                <img src="Jass.jpg" alt="">
                <p>This is my sister and she earned a Bachelors in and earns quite a bit of money! She likes to watch Youtube, shows and movies. she might choose to get a even better job as well</p>
                    <span class="tooltip">CSS<span class="tooltiptext"> Cascading Style Sheets</span></span>

        </div>
</body>
</html>